/* Write your styles */
.account-pages {
    padding-top: 13vh;
    height: 100vh;
    width: 100%;
    background: url(../i/background/bg2.jpg) center !important;
    background-size: 100%, 100%;
    overflow: hidden;
}

.panel-body {
    padding: 15px;
}

.wrapper-page {
    margin: 5% auto;
    position: relative;
    width: 420px;
}

@media (max-width: 768px) {
    .wrapper-page {
        width: 90%;
    }
}

.back-color-w {
    background-color: white;
}
