<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--引入头文件-->
    {include file="public/headerFile" title="图标"/}
</head>
<body>
{include file="public/head"/}
<div class="am-cf admin-main">
    {include file="public/sidebar"}
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户</strong> / <small>123</small></div>
            </div>

            <p class="am-text-danger">  this is index index user</p>
        </div>
    </div>
    <!-- content end   -->
</div>

<!--引入JS文件-->
{include file="public/footerJsFile"}

</body>
</html>