<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="__JS__/jquery/jquery-3.3.1.min.js"></script>
    <title>Title</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ajax_post").click(function () {

                var username = $("#username").val();
                var password = $("#password").val();

                $.ajax({
                    url: '{:url("index/login/ajaxLogin")}',
                    data: {
                        'username': username,
                        'pwd': password
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (result) {
                        switch (result['id']) {
                            case 0:
                                $("#massage").html(result['mes']);
                                break;
                            case  1:
                                $("#massage").html(result['mes']);
                                break;
                            case  2:
                                $("#massage").html(result['mes']);
                                break;
                            case  3:
                                    window.location.replace("{:url('index/index/index')}");
                                //jump
                                break;
                        }
                    }
                })
            })
        });
    </script>

</head>
<body>
<h1>THIS is index login index</h1>
<form action="" method="post">
    <span>
    username:    <input type="text" name="username" id="username">
    </span>
    <span>
    password:    <input type="password" name="pwd" id="password">
    </span>
    <span id="massage"></span>
    <input type="button" value="登陆" id="ajax_post">
</form>
</body>
</html>